p {
    font-family: 'Dosis', sans-serif;
}
h1 {
    font-family: 'Dosis', sans-serif;
}
h2 {
    font-family: 'Dosis', sans-serif;
}
h3 {
    font-family: 'Dosis', sans-serif;
}
h4 {
    font-family: 'Dosis', sans-serif;
}
h5 {
    font-family: 'Dosis', sans-serif;
}
h6 {
    font-family: 'Dosis', sans-serif;
}
body {
    background-image: url("../images/background-default.png")
}